Flask==0.10.1
Flask-Cors==1.10.2
Jinja2==2.7.3
Keras==1.1.2
numpy
PyYAML==3.12
requests==2.3.0
scipy==1.1.0
sox==1.2.4
tensorflow==0.12.1
Werkzeug==0.9.6
h5py
backports.weakref==1.0rc1
bleach==1.5.0
funcsigs==1.0.2
html5lib==0.9999999
Markdown==2.6.8
mock==2.0.0
olefile
pandas
pbr==3.1.1
Pillow
protobuf==3.3.0
scikit-learn
six==1.10.0
Theano==0.9.0
Werkzeug
